--find-links https://download.pytorch.org/whl/torch_stable.html

absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
ansi2html==1.8.0
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==18.3.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==20.3.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
binwalk==2.2.1
bleach==3.2.1
blis==0.7.9
Brlapi==0.8.2
cachelib==0.9.0
cachetools==5.3.0
captum==0.6.0
catalogue==2.0.8
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.1.0
chrome-gnome-shell==0.0.0
click==8.1.3
cloudpickle==2.2.1
coloredlogs==15.0.1
commentjson==0.9.0
confection==0.0.4
configobj==5.0.6
crypto==1.4.1
cupshelpers==1.0
cycler==0.10.0
cymem==2.0.7
dash==2.8.1
dash-bootstrap-components==1.4.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dbus-python==1.2.16
decorator==4.4.2
defusedxml==0.6.0
# Editable install with no version control (dianna==0.9.0)
-e /home/willem/.local/lib/python3.9/site-packages
distlib==0.3.6
distro==1.5.0
distro-info==1.0
dm-tree==0.1.8
dnspython==2.2.1
docker-pycreds==0.4.0
docutils==0.19
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints==0.3
fastdtw==0.3.4
fastjsonschema==2.16.2
filelock==3.8.0
Flask==2.2.2
Flask-Caching==2.0.2
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==3.0.2
flatbuffers==23.3.3
frozenlist==1.3.3
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==2.0.1
grpcio==1.51.3
h5py==3.8.0
html2image==2.0.1
html5lib==1.1
httplib2==0.18.1
humanfriendly==10.0
idna==2.10
imageio==2.26.0
importlib-metadata==5.0.0
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==2.1.2
jax==0.4.7
jedi==0.18.0
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.10
jsonschema==3.2.0
jupyter-client==7.4.7
jupyter-console==6.2.0
jupyter-core==5.1.0
jupyter-dash==0.4.2
jupyter-server==1.23.3
jupyterlab==3.5.0
jupyterlab-pygments==0.2.2
jupyterlab-server==2.16.3
kazam==1.4.5
keras==2.11.0
kiwisolver==1.3.1
langcodes==3.3.0
lark-parser==0.7.8
lazy-loader==0.1
libclang==15.0.6.1
lime==0.2.0.1
lime-stability==0.1.1
llvmlite==0.39.1
louis==3.16.0
Mako==1.1.3
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.3.4
mistune==2.0.4
ml-dtypes==0.0.4
mongoengine==0.24.2
more-itertools==4.2.0
mpmath==1.2.1
multidict==6.0.4
murmurhash==1.0.9
Naked==0.1.31
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.0
notebook==6.2.0
notebook-shim==0.2.2
nptyping==2.5.0
numba==0.56.4
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
olefile==0.46
onnx==1.12.0
onnx-tf==1.10.0
onnxruntime==1.14.1
openai==0.27.4
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.4.3
parso==0.8.1
pathtools==0.1.2
pathy==0.10.1
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==2.5.4
plotly==5.13.1
preshed==3.0.8
prometheus-client==0.9.0
prompt-toolkit==3.0.14
protobuf==3.19.6
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycryptodome==3.15.0
pycups==2.0.1
pycurl==7.43.0.6
pydantic==1.10.5
Pygments==2.7.1
PyGObject==3.38.0
PyJWT==2.6.0
pymongo==4.3.3
PyOpenGL==3.1.5
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyqtgraph==0.11.1
pyrsistent==0.15.5
PySimpleSOAP==1.16.2
pysmbc==1.0.23
python-apt==2.2.1
python-dateutil==2.8.2
python-debian==0.1.39
python-debianbts==3.1.0
python-decouple==3.6
pytz==2022.6
PyWavelets==1.4.1
pyxdg==0.27
PyYAML==6.0
pyzmq==24.0.1
reportbug==7.10.3+deb11u1
requests==2.25.1
requests-oauthlib==1.3.1
retrying==1.3.4
rsa==4.9
scikit-image==0.19.1
scikit-learn==1.2.0
scipy==1.6.2
Send2Trash==1.8.0
sentry-sdk==1.20.0
setproctitle==1.3.2
shap==0.41.0
shellescape==3.8.1
six==1.15.0
sklearn==0.0.post1
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==1.4.44
srsly==2.4.6
statistics==1.0.3.5
statsmodels==0.13.5
stego-lsb==1.3.5
sympy==1.11.1
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-addons==0.19.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-probability==0.19.0
termcolor==2.2.0
terminado==0.9.2
terminator==2.1.0
testpath==0.4.4
thinc==8.1.9
threadpoolctl==3.1.0
tifffile==2023.2.28
tinycss2==1.2.1
tomli==2.0.1
torch==1.9.0+cpu
torchtext==0.10.0
torchvision==0.10.0+rocm4.2
tornado==6.2
tqdm==4.65.0
traitlets==5.6.0
typeguard==2.13.3
typer==0.7.0
typing-extensions==4.4.0
unattended-upgrades==0.1
urllib3==1.26.15
utils==1.0.1
vboxapi==1.0
virtualenv==20.17.0
wandb==0.15.0
wasabi==1.1.1
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.2.2
widgetsnbextension==2.0.0
wrapt==1.15.0
xarray==2023.2.0
xdg==5
yarl==1.8.2
zipp==3.10.0
